html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.menu-malasngoding {
  background-color: #3141ff;
  height: 50px;
}

@media (max-width: 600px) {
  .menu-malasngoding {
    height: 105px; /* Atur tinggi yang sesuai ketika lebar layar ≤ 600px */
  }
}

.menu-malasngoding ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-malasngoding > ul > li {
  float: left;
}

.menu-malasngoding li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-malasngoding li a:hover {
  background-color: #2525ff;
}

li.dropdown {
  display: inline-block;
}

.dropdown:hover .isi-dropdown {
  display: block;
}

.isi-dropdown a:hover {
  color: #fff !important;
}

.isi-dropdown {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f9f9f9;
}

.isi-dropdown a {
  color: #3c3c3c !important;
}

.isi-dropdown a:hover {
  color: #232323 !important;
  background: #f3f3f3 !important;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.dashboard-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.box {
  width: 200px;
  height: 150px;
  background-color: #3498db;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.box a {
  display: block;
  text-decoration: none;
  color: white;
}

.count {
  font-size: 36px;
  font-weight: bold;
}

.label {
  font-size: 18px;
  margin-top: 10px;
}
